.main {
  height: 100vh;
  width: 100vw;
  background: #36114a;
}
.header {
  padding: 0px !important;
  margin: 0px !important;
  height: 100px;
}
@media (max-width: 575.98px) {
  .title-header {
    font-family: "Pattaya", sans-serif;
    font-size: 70px;
    color: white;
    text-shadow: 10px 10px 5px black, 0 0.1em black, 0 0em #000002;
    margin-bottom: 0px !important;
  }
  .form input {
    height: 15vh;
    font-size: 30px;
  }

  .page-container {
    width: 100vw;
    height: auto;
  }
  .page-action {
    box-shadow: 5px 3px 11px 5px rgba(20, 19, 20, 1);
    width: 70vw;
    height: calc(100vh - 150px);
    margin-top: 20px;
    border-radius: 15px;
    background: #ffffff;
  }
  .text-info {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 25px;
    color: #36114a !important;
    text-align: center;
  }
  .btn-calc {
    width: 40vw;
    height: 80px;
    background: #36114a;
    color: white;
    font-size: 20px;
  }
  .btn-calc:hover {
    color: white;
  }
  .form {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    height: calc(100% - 200px);
  }
  .div-text-info {
    height: 200px;
    padding-top: 5px;
  }
  .result img {
    width: auto;
    max-height: 60px;
  }
  .btn-return {
    width: 60vw;
    height: 50px;
    background: #36114a;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .btn-return:hover {
    color: white;
  }
  .div-img {
    margin-bottom: 30px;
    text-align: center;
  }
  .append-result {
    margin-bottom: 30px;
    font-size: 60px;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: bolder;
    text-align: center;
  }
  #resto {
    font-size: 18px !important;
  }
  .list-notes {
    height: calc(100% - 120px);
    overflow: auto;
  }
  .div-text-info-result {
    height: 120px;
    padding-top: 5px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .title-header {
    font-family: "Pattaya", sans-serif;
    font-size: 70px;
    color: white;
    text-shadow: 10px 10px 5px black, 0 0.1em black, 0 0em #000002;
    margin-bottom: 0px !important;
  }
  .form input {
    height: 15vh;
    font-size: 30px;
  }

  .page-container {
    width: 100vw;
    height: auto;
  }
  .page-action {
    box-shadow: 5px 3px 11px 5px rgba(20, 19, 20, 1);
    width: 70vw;
    height: calc(100vh - 150px);
    margin-top: 20px;
    border-radius: 15px;
    background: #ffffff;
  }
  .text-info {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 25px;
    color: #36114a !important;
    text-align: center;
  }
  .btn-calc {
    width: 40vw;
    height: 80px;
    background: #36114a;
    color: white;
    font-size: 20px;
  }
  .btn-calc:hover {
    color: white;
  }
  .form {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    height: calc(100% - 200px);
  }
  .div-text-info {
    height: 200px;
    padding-top: 5px;
  }
  .result img {
    width: auto;
    max-height: 60px;
  }
  .btn-return {
    width: 60vw;
    height: 50px;
    background: #36114a;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .btn-return:hover {
    color: white;
  }
  .div-img {
    margin-bottom: 30px;
    text-align: center;
  }
  .append-result {
    margin-bottom: 30px;
    font-size: 60px;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: bolder;
    text-align: center;
  }
  #resto {
    font-size: 18px !important;
  }
  .list-notes {
    height: calc(100% - 120px);
    overflow: auto;
    width: 70vw;
  }
  .div-text-info-result {
    height: 120px;
    padding-top: 5px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .title-header {
    font-family: "Pattaya", sans-serif;
    font-size: 70px;
    color: white;
    text-shadow: 10px 10px 5px black, 0 0.1em black, 0 0em #000002;
    margin-bottom: 0px !important;
  }
  .form input {
    height: 15vh;
    font-size: 70px;
  }

  .page-container {
    width: 100vw;
    height: calc(100vh - 150px);
  }
  .page-action {
    box-shadow: 5px 3px 11px 5px rgba(20, 19, 20, 1);
    width: 70vw;
    height: calc(100vh - 150px);
    margin-top: 20px;
    border-radius: 15px;
    background: #ffffff;
  }
  .text-info {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 30px;
    color: #36114a !important;
    text-align: center;
  }
  .btn-calc {
    width: 30vw;
    height: 80px;
    background: #36114a;
    color: white;
    font-size: 20px;
    margin-top: 20px;
  }
  .btn-calc:hover {
    color: white;
  }
  .form {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    height: calc(100% - 150px);
  }
  .div-text-info {
    height: 100px;
    height: 100px;
    padding-top: 5px;
  }
  .result img {
    width: auto;
    max-height: 90px;
  }
  .btn-return {
    width: 30vw;
    height: 80px;
    background: #36114a;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .btn-return:hover {
    color: white;
  }
  .div-img {
    margin-bottom: 30px;
  }
  .append-result {
    margin-bottom: 30px;
    font-size: 60px;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: bolder;
    text-align: center;
  }
  #resto {
    font-size: 30px !important;
  }
  .list-notes {
    height: calc(100% - 120px);
    overflow: auto;
  }
  .div-text-info-result {
    height: 90px;
    padding-top: 5px;
    width: 70vw;
  }
}
@media (min-width: 1200px) {
  .title-header {
    font-family: "Pattaya", sans-serif;
    font-size: 70px;
    color: white;
    text-shadow: 10px 10px 5px black, 0 0.1em black, 0 0em #000002;
    margin-bottom: 0px !important;
  }
  .form input {
    height: 15vh;
    font-size: 70px;
  }

  .page-container {
    width: 100vw;
    height: calc(100vh - 150px);
  }
  .page-action {
    box-shadow: 5px 3px 11px 5px rgba(20, 19, 20, 1);
    width: 70vw;
    height: calc(100vh - 150px);
    margin-top: 20px;
    border-radius: 15px;
    background: #ffffff;
  }
  .text-info {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 30px;
    color: #36114a !important;
    text-align: center;
    padding-top: 10px;
  }
  .btn-calc {
    width: 30vw;
    height: 80px;
    background: #36114a;
    color: white;
    font-size: 20px;
    margin-top: 20px;
  }
  .btn-calc:hover {
    color: white;
  }
  .form {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    height: calc(100% - 150px);
  }
  .div-text-info {
    height: 100px;
    height: 100px;
    padding-top: 5px;
  }
  .result img {
    width: auto;
    max-height: 90px;
  }
  .btn-return {
    width: 30vw;
    height: 80px;
    background: #36114a;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .btn-return:hover {
    color: white;
  }
  .div-img {
    margin-bottom: 30px;
  }
  .append-result {
    margin-bottom: 30px;
    font-size: 60px;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: bolder;
    text-align: center;
  }
  #resto {
    font-size: 30px !important;
  }
  .list-notes {
    height: calc(100% - 120px);
    overflow: auto;
    width: 70vw;
  }
  .div-text-info-result {
    height: 90px;
    padding-top: 5px;
  }
}
